@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

body {
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem 0rem;
}

.mycontainer {
  margin-left: 100px;
}


#details {
  border-collapse: collapse;
  width: 50%;
}

#details td, #details th {
  border: 1px solid #ddd;
  padding: 8px;
}

#details tr:nth-child(even){background-color: #f2f2f2;}

#details tr:hover {background-color: #ddd;}

#details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/* Items */
#items {
  border-collapse: collapse;
  width: 30%;
}

#items td, #items th {
  border: 1px solid #ddd;
  padding: 8px;
}

#items tr:nth-child(even){background-color: #f2f2f2;}

#items tr:hover {background-color: #ddd;}

#items th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #860505;
  color: white;
}

h1 {
  color: grey;
}

