@charset "UTF-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

body {
  padding: 2rem 0rem;
}

.like {
  font-size: 1.5rem;
}

#itemImage {
  width:80%; 
  height:auto; 
  display: block;
  margin: 0 auto;
}